<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Termosinter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Página Inicial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/cadastros">Cadastros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
          </ul>
        </div>
      </nav>
</header>
<main role="main">
      <!-- Mensagens de marketing e outras featurezinhas
      ================================================== -->
      <!-- Envolve o resto da página em outro container, para centralizar todo o conteúdo. -->

      <div class="container marketing">

        <!-- Três colunas de texto, abaixo do carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Produtos</h2>
            <p>Visualize nossos produtos.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Acesse</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Clientes</h2>
            <p>Nossos clientes.</p>
            <p><a class="btn btn-secondary" href="/admin/cadastros" role="button">Acesse</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Relação de Preços</h2>
            <p>Configure a relação de preços padrões e descontos de clientes.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Acesse</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- COMEÇAM AS MENCIONADAS FEATUREZINHAS xD -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Primeiro título de featurezinhas. <span class="text-muted">Supreendente, não?!</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" alt="500x500" style="width: 500px; height: 500px;" src="https://lh3.googleusercontent.com/pw/AIL4fc8Kzm8fsf2lXlIVDJOjWBBNavse5cwk4aXJ0zYd6sxDls_yCVTDFh2uttB2KyGTw8ko5XaQhAJSCmEoDj6FddpbdDZW0XBcuFTmczOLee3Q_K7-H4UFju4Fbm3rcokGU6Vi_O0qWHvmzmFQ7oeerftHChT5eQDMyCV3kzsRI74olcr3w35h_mV-a37cIs9NMNPR3Cr7uQi_mVSQMFagGwwAcwYr643jxqR8mz8fOdQF_4yrmkziNOfYdo459egapHS95-8NLnftX0Ov5Dylkt4saju8vfLTyVRElVIT6zfZOuR7QyM9OAxbwR61yYx8bqTeU-kKcnQFD7RhCNB9efZxx7Tt8BadkDOAnZpcPVDPtVyiE2NZAqXWggkNMq6EriYEflCAJZQPioAH-goxdlMNzKfsVBtA1aLy-bCtpYoaTBX6mgoAr0f4DpXv3itOWsR0-KjCBtQcXvtbEPgMfEdEYfKpoIDQcPoTBT5sMJyUJRQE5IcS6Ot-4xUeL_Uj7F5TFKhtRlewta9We49aahdgTKm857w5wEnfjKQfX_c5x10JrJXgIUtIlbuHVIYWoK-6SIZnRUqMbaLcEEM8pzAhr7NuHgPZscikTZC9VX8pgS-td2KPm2238aDnjCOb8kwHLzl_wtqgSMlo0cEXhE04OZtKzf7NXCr0_Ek6iYi6De1fVeOPbTbXdAAcOFbyk2aXtoEzcfPe9ZbFnBPyssjsYgfnSyftoU3os5ndIcYzOdOg7cKNT-Ids1GusoxaHSsdqt2wk_gHc-2RoSKJBUb5xkWZTMUer6Fq2uDyJ5YmaNGJhRUphCdMzSn7NVateD81D67L9dw7ZCOYr1pz63oGfBiCcjSfkwZlN4jmYwWN9nwRuVS9DR14_XoDIN-SOWLAkNJHOoRFE8-3cxU1xxVPSPk=w640-h425-s-no?authuser=0" data-holder-rendered="true">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Aêêê, moleque! <span class="text-muted">Tá legal ou não tá?</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_189dad1f7d3%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_189dad1f7d3%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">E, por último, essa aqui. <span class="text-muted">Xeque-mate!</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_189dad1f7d4%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_189dad1f7d4%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /FIM DAS FEATUREZINHAS *-* -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Voltar ao topo</a></p>
        <p>© Companhia S.A., 2017-2018 · <a href="#">Privacidade</a> · <a href="#">Termos</a></p>
      </footer>
    </main>